@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,900;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
    margin: 0px;
    padding: 0px;
}
body{
    background-image: url("img/imagem\ de\ fundo.png");
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-weight:900;
}
header{
    display: flex;
    font: bolder 28px 'Bebas Neue'; 
    color: #FFD4D4;
    background-color: black;
    justify-content: space-between;
    padding-left: 105px;
    padding-top: 19px;
    padding-bottom: 10px;
    
}
.titulo{
    margin: -7px;
}
ul{
    font-size: 26px;
    display: flex;
    list-style-type: none;
    margin: 13px;
}
li:hover{
    color: #d12a78;
}
li{
    margin-right: 74px;
}
.fotoPerfil{
    display: block;
    margin: -388px 247px;
    border-radius: 190px;
}
p{
    font: bold 64px 'Raleway';
    margin-top: 230px;
    margin-left: 474px;
    padding-left: 340px;
    padding-top: 110px;
}
.nome{
    color: #E05443;
}
